<div class="container">
  <div class="d-flex justify-content-between">
    <app-card [plan]="card[0].plan" [price]="card[0].price" [users]="card[0].users" [storage]="card[0].storage" [privateProjects]="card[0].privateProjects" [phoneSupport]="card[0].phoneSupport" [freeSubdomain]="card[0].freeSubdomain" [statusReport]="card[0].statusReport" class="flex-grow-1"></app-card>
    <app-card [plan]="card[1].plan" [price]="card[1].price" [users]="card[1].users" [storage]="card[1].storage" [privateProjects]="card[1].privateProjects" [phoneSupport]="card[1].phoneSupport" [freeSubdomain]="card[1].freeSubdomain" [statusReport]="card[1].statusReport" class="flex-grow-1"></app-card>
    <app-card [plan]="card[2].plan" [price]="card[2].price" [users]="card[2].users" [storage]="card[2].storage" [privateProjects]="card[2].privateProjects" [phoneSupport]="card[2].phoneSupport" [freeSubdomain]="card[2].freeSubdomain" [statusReport]="card[2].statusReport" class="flex-grow-1"></app-card>
  </div>
</div>